:root {
  font-family: system-ui, Arial, sans-serif;

  color: white;
  background-color: #1e1e1e;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

#root {
  height: 100vh;
}

/* Main App Layout */
.App {
  height: 100vh;

  display: flex;
  flex-direction: column;

  align-items: center;

  gap: 1rem;
  padding: 1rem;

  box-sizing: border-box;
}

/* Header */
.Header {
  border: 1px solid white;

  padding: 1rem;

  text-align: center;
}

/* Result Area */
.ResultBox {
  border: 1px solid white;

  flex: 1;

  overflow-y: auto;

  padding: 1rem;
}

.Result {
  white-space: pre-wrap;
}

/* Bottom Controls */
.Functions {
  border: 1px solid white;

  padding: 1rem;

  display: flex;
  flex-direction: column;

  align-items: center;

  gap: 1rem;
}
.Functions input {
  flex: 1;

  width: 75%;
  font-size: 1rem;
}

.Functions button {
  padding: 0.75rem 1.5rem;

  cursor: pointer;
}

.Header,
.ResultBox,
.Functions {
  width: 100%;
  max-width: 700px;
}